In [2]:
# import libraries
import pandas as pd 
df=pd.read_csv('mldata.csv')
df.tail()

     age  weight  gender likeness height
240   31    60.0    Male   Pakora    160
241   26    70.0    Male  Biryani    172
242   40    80.0    Male  Biryani    178
243   25    65.0    Male  Biryani    5.7
244   33    56.0  Female   Samosa    157

In [3]:
df['gender']= df['gender'].replace('Male',1)
df['gender']= df['gender'].replace('Female',0)

In [4]:
df.head()

   age  weight  gender likeness   height
0   27    76.0       1  Biryani  170.688
1   41    70.0       1  Biryani      165
2   29    80.0       1  Biryani      171
3   27   102.0       1  Biryani      173
4   29    67.0       1  Biryani      164

In [6]:
# Selection of input  and output variable
x=df[['weight','gender']]
y=df['likeness']
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [7]:
# Machine learning algorithm 
from sklearn.tree import DecisionTreeClassifier
# Creat and fit our model
model= DecisionTreeClassifier().fit(x,y)
# Prediction
model.predict([[23,0]])

c:\Users\Muhammad Mudassir\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

# How to measure the accuracy of our model
## Split data into test and train (80/20)

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import  accuracy_score
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.2,random_state=0)# 80% training data and 20% testing data
# create a model 
model = DecisionTreeClassifier()
# fitting a model 
model.fit(x_train,y_train)
Prediction_values=model.predict(x_test)
Prediction_values
# Checking Score 
# x_test= actual_values
score= accuracy_score(y_test,Prediction_values)
score

0.6122448979591837

In [14]:
# how to train and save a model
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
import joblib
model=DecisionTreeClassifier().fit(x,y)
joblib.dump(model,'foodie.joblib')

['foodie.joblib']

In [ ]:
#  How to run/import a stored or saved model on our data? Assignment

In [15]:
# Graph
from sklearn import tree 
model = DecisionTreeClassifier().fit(x,y)
# Graphic evaluation/look into what happened
tree.export_graphviz(model,
                     out_file='foodie.dot',
                     feature_names=['age','gender'],
                     class_names= sorted(y.unique()),
                     label='all',
                     rounded=True,
                     filled=True)